#include "ss_config.h"
#include "ss_magic.h"
#include "ss_trie.h"

static struct trie *tr;

void magic_init()
{
    int i;

    trie_init(&tr);
    for (i = 0; i < sizeof(magic_index) / (MENTRY_LEN + 1) / sizeof(uint32_t); ++i) {
        trie_insert(tr, &magic_index[i][0], magic_index[i][8]);
    }
}

void magic_fini()
{
    trie_destroy(tr);
}

bool magic_scan(uint32_t *buf, int len)
{
    return trie_scan(tr, buf, len)?true:false;
}
